<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= user.password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= user.bio %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", [:admin,user], class: "rounded-lg py-3 px-5 bg-gray-100 dark:hover:bg-gray-600 hover:text-white inline-block font-medium" %>
    <%= link_to "Edit this user", edit_admin_user_path(user), class: "rounded-lg py-3 px-5 bg-gray-100 dark:hover:bg-gray-600 hover:text-white inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
